In [1]:
import pandas as pd

In [2]:
# Crear un dataframe
data = pd.DataFrame({'cat1': [2, 1], 'cat2': [3, 2]})
data

   cat1  cat2
0     2     3
1     1     2

In [3]:
#No se limitan a enteros
pd.DataFrame({'Bob': ['Nailed it', 'Out'], 'Sue': ['Got a match?', 'In']})

         Bob           Sue
0  Nailed it  Got a match?
1        Out            In

In [4]:
#Columna de indexacion
pd.DataFrame({'Bob': ['Nailed it', 'Out'], 'Sue': ['Got a match?', 'In']}, index = ['Phrease 1', 'Phrease 2'])

                 Bob           Sue
Phrease 1  Nailed it  Got a match?
Phrease 2        Out            In

In [5]:
#Crear una serie
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#Indexar una serie
pd.Series([30, 35, 40], index = ['ventas 2021', 'ventas 2022', 'ventas 2023'])

ventas 2021    30
ventas 2022    35
ventas 2023    40
dtype: int64

In [7]:
#Leer desde CSV
pizza = pd.read_csv("data_dictionary.csv")
pizza

,Table,Field,Description
0,orders,order_id,Unique identifier for each order placed by a t...
1,orders,date,Date the order was placed (entered into the sy...
2,orders,time,Time the order was placed (entered into the sy...
3,order_details,order_details_id,Unique identifier for each pizza placed within...
4,order_details,order_id,Foreign key that ties the details in each orde...
5,order_details,pizza_id,Foreign key that ties the pizza ordered to its...
6,order_details,quantity,Quantity ordered for each pizza of the same ty...
7,pizzas,pizza_id,Unique identifier for each pizza (constituted ...
8,pizzas,pizza_type_id,Foreign key that ties each pizza to its broade...
9,pizzas,size,"Size of the pizza (Small, Medium, Large, X Lar..."
10,pizzas,price,Price of the pizza in USD
11,pizza_types,pizza_type_id,Unique identifier for each pizza type
12,pizza_types,name,Name of the pizza as shown in the menu
13,pizza_types,category,Category that the pizza fall under in the menu...
14,pizza_types,ingredients,Comma-delimited ingredients used in the pizza ...

In [8]:
#Tama√±o
pizza.shape

(15, 3)

In [9]:
#Si ya hay una columna indexante existente en el dataset con read_csv("file.csv", index_col = n)